Source: datalad-container
Maintainer: Yaroslav Halchenko <debian@onerussian.com>
Section: python
Priority: optional
Build-Depends: dh-python, python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 9)
Standards-Version: 3.9.6

Package: python-datalad-container
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: DataLad extension package for working with containerized env
 ::
 .
      ____          _           _                 _
     |  _ \   __ _ | |_   __ _ | |      __ _   __| |
     | | | | / _` || __| / _` || |     / _` | / _` |
     | |_| || (_| || |_ | (_| || |___ | (_| || (_| |
     |____/  \__,_| \__| \__,_||_____| \__,_| \__,_|
                                        Container
 .
 |Travis tests status| |codecov.io| |Documentation| |License: MIT|
 |GitHub release| |PyPI version fury.io| |Average time to resolve an
 issue| |Percentage of issues still open|
 .
 This extension enhances DataLad (http://datalad.org) for working with
 computational containers. Please see the `extension
 documentation <http://datalad-container.rtfd.org>`__ for a description
 on additional commands and functionality.
 .
 For general information on how to use or contribute to DataLad (and this
 extension), please see the `DataLad website <http://datalad.org>`__ or

